<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CristMos</title>
    
</head>
<body style="background-color: green;">
    <div style="display: flex; justify-content: center; vertical-align: middle; margin-top: 40vh; border-radius: 50px;"><img src="./RU/e345f660-f161-4f4b-a.png" style="width: 40vw; display: inline-block; height: 8vw;">
    <img src="./RU/Groupfewf_39.png" style="width: 20vw; display: inline-block;height:8vw; margin-left: 5vw;" ></div>
    
</body>
<script>
    if (window.innerWidth > 1000){
            location.href = 'http://94.103.88.175/ru/'
        }else{
            location.href = 'http://94.103.88.175/m.ru/'
        }
</script>
</html>